@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
/* barra de navegacion */
#principal-bar{
  background-color: white;
  font-size: 20px;
}

.logo{
  width: 70px;
  /* height:0px; */
}


/* --------------------------MAIN */

#main_bg{
  background: url("../images/edificio.png") no-repeat fixed;
  background-size: cover;
  height:800px;
  justify-content: center;
}

#main_title{
  background-color: white;
  color: #323335;
  padding-top: 100px;
  padding-left: 250px 
}

.title{
  font-size: 95px;
}
/*------------------- About us --------------------------*/

#about-us{
  background-color: white;
}

#about-us h3{
  color: #CA636D;
  padding-left: 200px;
  font-size: 20px;
}

#about-us p{
  color: #323335;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 25px;
  text-align: justify;
}

/*-------------------------- Services ------------------------- */

#services{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 20px;
}

#services h3{
  color: #CA636D;
  font-size: 20px;
}

#green-service{
  background-color: #63B3AA;
  color: #F7FaF0;
}
#red-service{
  background-color: #CA636D;
  color: #F7FaF0;
}

#red-service , #green-service{
  height: 300px;
}

#buttonMore{
  background-color: #CA636D;
  border: none;
  font-size: 20px;
  width: 140px;
}

/* ------------------ questions -----------------------------*/

#questions{
  background-color: #CA636D;
  color: #F7FaF0;
  text-align: justify;
}

#questions-title{
  text-decoration: underline  #F7FaF0;
  text-underline-position: under;
  font-size: 40px;
}
#question-text{
  font-size: 20px;
}

#button-question{
  background-color: white;
  color: #CA636D;
  border: none;
  font-size: 20px;
  width: 120px;
  margin-bottom: 20px;
}

/*---------------- news --------------------------- */

#main2_bg{
  background: url("../images/sociedades.jpg") no-repeat fixed;
  background-size: cover;
  height:900px;
  justify-content: center;
}

.news{
  justify-content: space-around;
}
.new{
  background-color: white;
  height: 350px;
  min-width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  /* border: solid 1px white;
  padding: 0px;
  box-shadow: 4px 4px #ced1d4; */
}

.new img{
  width: 100%;
  /* height: auto; */
  height: 200px;
}

.new a p{
  font-size: 18px;
  color: #323335;
  margin: 15px;
  height: 60px;
}

.new a{
  text-decoration: none;
}

.new a:hover{
  text-decoration: none;
}

.vistas{
  border-top: solid 1px gray;
  color: gray;
}

.vistas img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.vistas a{
margin-left: 10px;
}

/*------------------------ footer ------------------- */

#footer{
  background-color: #CA636D;
  color: #F7FaF0;
  padding-top: 50px;
  font-size: 18px;
}

.form-control{
  border-color: #323335;
  border-style: solid;
  border-width: 3px;
  font-size: 19px;
}

#send{
  background-color: #323335;
  border: none;
  width: 100%;
}
