.team{  
  color: #323335;
}

.team img{
  width: 100%;
  max-height: 400px;
}

.job{
  color: #CA636D;
  padding-top: 40px;
  font-size: 18px;
}

.team h1{
  font-size: 55px;
  padding-bottom: 20px;
}

.team p{
  text-align: justify;
  font-size: 18px;
}

.job , .team h1 , .team p{
  padding-left: 40px;
}

#who_bg{
  background: url("../images/edificio.png") no-repeat fixed;
  background-size: cover;
  height:400px;
  justify-content: center;
}