<style>
  .pagination>li>a, .pagination>li>span { 
    border-radius: 20% !important;
    margin: 0 8px;
    color: #CA636D;
    
  }
  .pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background-color: #CA636D;
    border-color: #CA636D;
    color: #fff;
  }

</style>

<nav aria-label="Page navigation" class="wow fadeInUp">
  {% comment %} {% if is_paginated %} {% endcomment %}
      <ul class="pagination justify-content-center">
      {% if categori.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ categori.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% else %}
          <li class="disabled">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      {% endif %}
      {% for i in categori.paginator.page_range %}
        {% if categori.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
        {% endif %}
      {% endfor %}
      {% if categori.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ categori.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">»</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
            <a class="page-link"  aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
      {% endif %}
      </ul>
</nav>

{% comment %} <div class="pagination">
    <span class="step-links">
        {% if categori.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ categori.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categori.number }} of {{ categori.paginator.num_pages }}.
        </span>

        {% if categori.has_next %}
            <a href="?page={{ categori.next_page_number }}">next</a>
            <a href="?page={{ categori.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}