{% extends 'core/base.html' %}

{% load static %}

{% block title%}Blog{% endblock %}

{% block content %}

<!-- main            -->
      <main class="container pt-5 mt-5 pb-4 wow fadeIn">
           <nav class="navbar navbar-expand-sm navbar-light " id="category-bar">
               <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                   aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="collapsibleNavId">
                   <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center ml">
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'blog' %}">All <span class="sr-only">(current)</span></a>
                       </li>
                       {% for category in categories  %}
                            <li class="nav-item" id="category-name" >
                                <a class="nav-link" href="{% url 'category' category.id %}">{{category.name}}</a>
                            </li>
                       {% endfor %} 
                   </ul>
                   <form action="{% url 'search' %}" method="get">
                    <input class="search" type="text" name="q" placeholder="Search..">
                  </form>
               </div>
           </nav>
        </main>

      <div class="container">
        <div class="row">
        <h4 style="padding-bottom: 20px;">Posts containing '{{query}}'</h4> 
        {% for post in posts %}
          <div class="col-12 wow slideInUp">
              <div class="col-12 posts">
                <a href="{% url 'post' post.id post.title|slugify %}"><img src="{{post.image.url}}" alt=""></a>
              </div>
              <div class="col-12 pt-5 mt-2 pb-5 posts-text">
                <h2>{{post.author}}</h2>
                <h3><b>{{post.title}}</b></h3>
                <p>{{post.content|safe|truncatewords:30}}</p>
                <h6>{{post.views}} views</h6>
              </div>
            </div> 
        {% endfor %}
        </div>
      </div>

      {% include 'blog/page-bar.html' %}

      <script>
        $('body').highlight("{{query_string}}");
      </script>

{% endblock %}