<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/who.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/services.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mobile.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/images/logo-Positivo.png' %}" type="image.png">
    <title>{% block title %}{% endblock %} | SmartHR</title>
  </head>
  <body>
      <script>new WOW.init();</script>

      <!-- barra de navegacion -->
    <header id="topheader">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light animated fadeInDown " id="principal-bar">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="#navigation"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>            
            <a class="navbar-brand" href="{% url 'home' %}">
              <div class="row">
                <div class="col offset-2">
                  <img src="{% static 'core/images/logo-Positivo.png' %}" alt="" class="d-none d-sm-block logo">
                </div>
              </div> 
            </a>         
            <div class="col offset-lg-2 offset-sm-0 navbar-collapse collapse"  id="navigation">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
                  <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
                  </li>
                  <li class="nav-item {% if request.path == '/who/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'who' %}">{% trans "Who we are" %} </a>
                  </li>
                  <li class="nav-item {% if request.path == '/services/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'services' %}">{% trans "Consulting Services" %} </a>
                  </li>
                  <li class="nav-item {% if request.path == '/questions/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'questions' %}">{% trans "Questions" %} </a>
                  </li>
                  <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog' %}">{% trans "Blog" %} </a>
                  </li>
                  <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">{% trans "Contact" %} </a>
                  </li>
                  <li class="nav-item pt-2 pl-4">
                    <form name="myform" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" >
                        <select name="language" onchange="myform.submit()" style=" background-color: #63B3AA; border-radius: 20%; border-color: #63B3AA; color: white; text-transform: capitalize;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option style="text-transform: capitalize;"  value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.code }}
                                </option>
                            {% endfor %}
                        </select>                    
                      </form>                   </li>
                     
                    
                </ul>
            </div>
          </div>
        </nav>
      </header>

    {% block content %}
    {% endblock %}

     <footer>
        <div class="container-fluid">
          <div class="row justify-content-center" id="footer">
            <div class="col-12 col-lg-4 wow slideInUp text-center text-lg-left" >
                <img src="{% static 'core/images/logo-blanco.png' %}"  alt="" style="height: 60px; width: 60px;">
              <p style="padding-top: 20px;">Smart HR Services ({{LANGUAGE_CODE}})</p>
              <p>106 Nw 133rd Ave #101 <br>Plantation, FL 33325</p>
              <p>786-486-4491</p>
            </div>
            <div class="col-12 col-lg-4 wow slideInUp" >
              <div class="row pt-2 pb-2 pt-lg-5 mt-lg-5 justify-content-lg-start justify-content-center">
              {% if LINK_FACEBOOK %}
                <div class="col-2">
                  <a href="{{LINK_FACEBOOK}}"><img src="{% static 'core/images/facebook.png' %}" alt="" style=" width: 25%;"></a>
                </div>
              {% endif %}
              {% if LINK_INSTAGRAM %}
                <div class="col-2 ">
                  <a href="{{LINK_INSTAGRAM}}"><img src="{% static 'core/images/instagram.png' %}" alt="" style=" width: 50%;"></a>
                </div>
              {% endif %}
              {% if LINK_LINKEDIN %}
                <div class="col-2">
                  <a href="{{LINK_LINKEDIN}}"><img src="{% static 'core/images/linkedin.png' %}" alt="" style=" width: 50%;"></a>
                </div>
              {% endif %}
              {% if LINK_TWITTER %}
                <div class="col-2">
                  <a href="{{LINK_TWITTER}}"><img src="{% static 'core/images/twitter.png' %}" alt="" style=" width: 50%;"></a>
                </div>
              {% endif %}
              {% if LINK_YOUTUBE %}
                <div class="col-2">
                  <a href="{{LINK_YOUTUBE}}"><img src="{% static 'core/images/youtube.png' %}" alt="" style=" width: 50%;"></a>
                </div>
              {% endif %}

              </div>
            </div>
          </div>
        </div>
        <div class="container">
            <div class="row justify-content-start ">
              <div class="col-12 pt-3 pb-0 wow slideInUp">
                <p>© 2019 Smart HR Services</p> 
              </div>
              </div>
        </div>
      </footer>


      <script src="{% static 'core/js/wow.min.js' %}"></script>    
      <script>
          new WOW().init();
      </script>
      
      <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'core/js/popper.min.js' %}"></script>
      <script src="{% static 'core/js/jquery-3.4.1.slim.js' %}"></script>
      <script src="{% static 'core/js/services.js' %}"></script>


  </body>
</html>