{% extends 'core/base.html' %}

{% load static %}

{% block title%}Home{% endblock %}

{% block content %}

<!-- main            -->
      <main>
        <div class="container-fluid" id="main_bg">
          <div class="row">
              <div class="col-12 animated fadeIn slow" id="main_title" >
                  <h1 class="title" >Smart HR</h1>
                  <h1 class="title" >Services</h1>
              </div>
          </div>
        </div> 
      </main>
    
      <!-- Who Dinamic Info   -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 animated wow slideInUp " id="about-us">
                <h3 style="padding-top: 40px;">About us</h3>
                <p style="padding-top: 10px;">Quis qui duis deserunt anim culpa fugiat ut reprehenderit exercitation cillum nisi adipisicing quis consectetur. In nostrud non non labore reprehenderit eu et. Sit non eu cillum duis amet nulla dolore. Non minim quis id laborum consequat. Laboris adipisicing non esse velit. Ea commodo ad proident occaecat veniam tempor ipsum incididunt consectetur ipsum cupidatat sit aliqua occaecat. Ullamco deserunt enim dolor do. Occaecat officia consectetur ullamco aliquip nisi excepteur non reprehenderit et. Culpa mollit dolor amet i</p>
              </div>
        </div>
      </div>

      <!-- Services Dinamic  -->
      <div class="container">
           <div class="row">
              <div class="col-12 pl-8 animated wow slideInUp" id="services">
                  <h3>Services</h3>
                </div>
                {% for service in services %}
                {% if forloop.counter == 1 %}
                <div class="col-4 animated wow fadeIn" id="red-service" data-wow-delay="0.3s">
                    <img src="" alt="">imagen
                    <h3>{{service.title}}</h3>
                  </div>
                {% elif forloop.counter == 2 %}
                  <div class="col-4 wow fadeIn" id="green-service" data-wow-delay="0.6s">
                    <img src="" alt="">imagen
                    <h3>{{service.title}}</h3>
                  </div>
                  {% elif forloop.counter == 3 %}
                  <div class="col-4 wow fadeIn" id="red-service" data-wow-delay="0.9s">
                    <img src="" alt="">imagen
                    <h3>{{service.title}}</h3>
                  </div>
                  {% elif forloop.counter == 4 %}
                  <div class="col-4 wow fadeIn" id="green-service" data-wow-delay="1.2s">
                      <img src="" alt="">imagen
                      <h3>{{service.title}}</h3>
                  </div>
                  {% elif forloop.counter == 5 %}
                  <div class="col-4 wow fadeIn" id="red-service" data-wow-delay="1.5s">
                      <img src="" alt="">imagen
                      <h3>{{service.title}}</h3>
                  </div>
                  {% elif forloop.counter == 6 %}
                  <div class="col-4 wow fadeIn" id="green-service" data-wow-delay="1.8s">
                      <img src="" alt="">imagen
                      <h3>{{service.title}}</h3>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <div class="col-3 pt-4 offset-10 wow fadeIn" id="about-us"data-wow-delay="0.9s">
                      <a name="" id="buttonMore" class="btn btn-primary" href="{% url 'services' %}" role="button">MORE</a>
                  </div>
                  
                  <div class="col-12 animated wow slideInUp" id="services">
                      <h3>Frequent Questions</h3>
                    </div>
           </div>
        </div>
        <!-- frequent questions -->

      <div class="container-fluid" id="main2_bg">
        <div class="row">
            {% for question  in questions %}
            {% if forloop.counter == 1 %}
            <div class="col-12 pt-5 animated wow slideInLeft" id="questions" style="padding-left: 200px; padding-right: 500px;">
              <p id="questions-title">{{question.question}}</p>
              <p id="question-text">{{question.content|safe}}</p>
            </div>
            {% elif forloop.counter == 2 %}
            <div class="col-12 pt-5 animated wow slideInRight" id="questions" style=" direction: rtl;  padding-left: 500px; padding-right: 200px; ">
              <p id="questions-title">{{question.question}}</h2>
              <p id="question-text">{{question.content|safe}}</p>          
            </div>
            {% endif %}
            {% endfor %} 
            <div class="col-9 pt-4 animated wow slideInUp" id="questions">
            </div>
            <div class="col-3 pt-4 pb-3 animated wow slideInUp" id="questions">
                <a name="" id="button-question" class="btn btn-primary" href="{% url 'questions' %}" role="button">MORE</a>
            </div>   
        </div>
      </div>

      <!-- news -->

      <div class="container">
            <div class="row p-5 d-flex news">
                <div class="col-12 wow fadeInUp" >
                    <h3>Recent News</h3>
                </div>
                {% for post in posts %}
                {% if forloop.counter == 1 %}
                <div class="col-8 col-md-3 new  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{{post.image.url}}" alt="" >
                    <a href="{% url 'post' post.id post.title|slugify %}"><p>{{post.title|truncatewords:5}}</p></a>
                    <div class="d-flex vistas"> 
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>
                    </div>
                </div>
                {% elif forloop.counter == 2 %}
                <div class="col-8 col-md-3 new wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{post.image.url}}" alt="">
                    <a href="{% url 'post' post.id post.title|slugify %}"><p>{{post.title|truncatewords:5}}</p></a>
                    <div class="d-flex vistas">
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>                            
                    </div>
                </div>
                {% elif forloop.counter == 3 %}
                <div class="col-8 col-md-3 new wow fadeInUp" data-wow-delay="0.9s">
                    <img src="{{post.image.url}}" alt="">
                    <a href="{% url 'post' post.id post.title|slugify %}"><p>{{post.title|truncatewords:5}}</p></a>
                    <div class="d-flex vistas">
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>                            
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="col-3 pt-4 offset-10 wow fadeInUp" id="about-us" data-wow-delay="0.12s">
                    <a name="" id="buttonMore" class="btn btn-primary" href="{% url 'blog' %}" role="button">MORE</a>
                </div>
            </div>
      </div>



{% endblock %}

