{% extends 'core/base.html' %}

{% load static %}

{% block title%}Home{% endblock %}

{% block content %}

<!-- main            -->
      <main>
        <div class="container-fluid" id="main_bg">
          <div class="row">
              <div class="col-12 animated fadeIn slow" id="main_title" >
                  <h1 class="title" >Smart HR</h1>
                  <h1 class="title" >Services</h1>
              </div>
          </div>
        </div> 
      </main>
    
      <!-- Who Dinamic Info   -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 animated wow slideInUp " id="about-us">
                <h3 style="padding-top: 40px;">About us</h3>
                <p style="padding-top: 10px;">What Makes Us Different from Other HR Companies? Smart HR of South Florida provides a full Bilingual human resources solutions for small business. We roll up our sleeves and become your small business HR department, or we advise you on the best solutions for your business – based exclusively on what your company needs. Our solutions are always tailored to fit your company’s requirements from just a small task or audit to a full HR Solution. </p>
              </div>
        </div>
      </div>

      <!-- Services Dinamic  -->
     <!-- services   -->
      <div class="container" id="service">
           <div class="row">
              <div class="col-12 pl-8 animated wow slideInUp" id="services">
                  <h3>What HR ins't vs What HR is</h3>
                </div>
                <div class="col-xs-12 col-lg-4 animated wow fadeIn p-0" data-wow-delay="0.3s">
                    <img src="{% static 'core/images/1.png' %}" alt="">
                  </div>
                  <div class="col-xs-12 col-lg-4 wow fadeIn p-0" data-wow-delay="0.6s">
                    <img src="{% static 'core/images/2.png' %}" alt="">
                  </div>
                  <div class="col-xs-12 col-lg-4  wow fadeIn p-0 " data-wow-delay="0.9s">
                    <img src="{% static 'core/images/3.png' %}" alt="">
                  </div>
                  <div class="col-xs-12 col-lg-4  wow fadeIn p-0" data-wow-delay="1.2s">
                      <img src="{% static 'core/images/4.png' %}" alt="">
                  </div>
                  <div class="col-xs-12 col-lg-4  wow fadeIn p-0" data-wow-delay="1.5s">
                      <img src="{% static 'core/images/5.png' %}" alt="">
                  </div>
                  <div class="col-xs-12 col-lg-4  wow fadeIn p-0" data-wow-delay="1.8s">
                      <img src="{% static 'core/images/6.png' %}" alt="">
                  </div>
                  <div class="col-6 pt-4 wow fadeIn d-flex justify-content-end" data-wow-delay="0.9s">
                      <p style="font-size: 30px;">If you want to know more about what HR offers, check our services​​.</p>
                  </div>
                  <div class="col-6 pt-5 wow fadeIn d-flex justify-content-end" data-wow-delay="0.9s">
                      <a name="" id="buttonMore" class="btn btn-primary" href="{% url 'services' %}" role="button">CHECK</a>
                  </div>
                  <div class="col-12 animated wow slideInUp" id="services">
                      <h3>Frequent Questions</h3>
                    </div>
           </div>
        </div>
        <!-- frequent questions -->

      <div class="container-fluid" id="main2_bg">
        <div class="row">  
            {% for question  in questions %}
            {% if forloop.counter == 1 %}        
            <div class="col-12 pt-5 animated wow slideInLeft d-flex justify-content-start" id="questions">
              <div class="question_div" id="q_div_l">
                <p id="questions-title">{{question.question}}</p>
                <p id="question-text">{{question.content|safe}}</p>
              </div>
            </div>
            {% elif forloop.counter == 2 %}
            <div class="col-12 pt-5 animated wow slideInRight d-flex justify-content-end " id="questions">
              <div class="question_div" id="q_div_r">
                <p class="text-right" id="questions-title">{{question.question}}</h2>
                <p class="text-justify" id="question-text" >{{question.content|safe}}</p>          
              </div>
            </div> 
            {% endif %}
            {% endfor %} 
            <div class="col-12 pt-4 pb-3 animated wow slideInUp d-flex justify-content-end" id="questions">
                <a name="" id="button-question" class="btn btn-primary" href="{% url 'questions' %}" role="button">MORE</a>
            </div>    
        </div>
      </div>

      <!-- news -->

          <div class="container" id="content_new">
            <div class="row p-5 d-flex news">
                <div class="col-12 wow fadeInUp" >
                    <h3>Recent News</h3>
                </div>
                {% for post in posts %}
                {% if forloop.counter == 1 %}
                <div class="col-8 col-md-3 new  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{{post.image.url}}" alt="" >
                    <a href="{% url 'post' post.id post.title|slugify %}"><p style="text-align: center; font-size: 20px;"><b>{{post.title|truncatewords:5}}</b></p></a>
                    <div class="d-flex vistas"> 
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>
                    </div>
                </div>
                {% elif forloop.counter == 2 %}
                <div class="col-8 col-md-3 new wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{post.image.url}}" alt="">
                    <a href="{% url 'post' post.id post.title|slugify %}"><p style="text-align: center; font-size: 20px;"><b>{{post.title|truncatewords:5}}</b></p></a>
                    <div class="d-flex vistas">
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>                            
                    </div>
                </div>
                {% elif forloop.counter == 3 %}
                <div class="col-8 col-md-3 new wow fadeInUp" data-wow-delay="0.9s">
                    <img src="{{post.image.url}}" alt="">
                    <a href="{% url 'post' post.id post.title|slugify %}"><p style="text-align: center; font-size: 20px;"><b>{{post.title|truncatewords:5}}</b></p></a>
                    <div class="d-flex vistas">
                        <img src="{% static 'core/images/eye.png' %}" alt="">
                        <p>{{post.views}}</p>                            
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="col-12 wow fadeIn d-flex justify-content-end" data-wow-delay="1.2s">
                    <a name="" id="buttonMore" class="btn btn-primary" href="{% url 'blog' %}" role="button">MORE</a>
                </div>
            </div>
      </div> 



{% endblock %}

