.question{
  padding-top: 180px;
}

.question h3 {
  font-size: 25px;
  padding-left: 12px;
  padding-bottom: 25px;
  color: #CA636D;
}

.questions h2{
  color: #CA636D;
  padding-bottom: 10px;
  padding-top: 70px;
  font-size: 20px;
}
.questions p{
  color: #F7FaF0;
  font-size: 18px;
  margin: 30px;
}

.question-bg{
  background: url("../images/Windows-blue.jpg") no-repeat fixed;
  background-size: cover;
  height:380px;
  width: 100%;
  justify-content: center;
}