.OurServices{
  padding-top: 200px;
  padding-bottom: 100px;
}

.OurServices p{
  padding-top: 8px;
  font-size: 18px;
}

#our-service{
  font-size: 18px;
  color: #CA636D;
}

#image-services{
  width: 100%;
  height: 500px;
}

.text-service h3{
  color: #63B3AA;
  padding-bottom: 24px;
  padding-top: 80px;
  font-size: 30px;
}

.text-service h3,.text-service p{
  margin-left: 20px;
  margin-right: 20px;
}

.text-service p{
  font-size: 18px;
}