{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title%}{% trans "Who we are" %}{% endblock %}

{% block content %}
    <div class="container pb-3">
        <div class="row">
          <div class="col-12 logo_the_rest">
            {% if LANGUAGE_CODE == "en" %}
              <img src="{% static 'core/images/WhoWeAre.png' %}" class="justify-content-start">
            {% elif LANGUAGE_CODE == "es" %}
              <img src="{% static 'core/images/WhoweAreES.png' %}" class="justify-content-start">
            {% endif %}
          </div>
        </div>
    </div>

    <div class="container-fluid" id="who_bg">
      <div class="row" >
        <div class="col-12"></div>
      </div>
    </div>

    <!-- who we are  -->
    <div class="container-fluid pb-5">
        <div class="row">
        {% for who in Who_We_Are %}
            <div class="col-12 pb-5 animated wow slideInUp" id="about-us">
                {% if LANGUAGE_CODE == "es" %}
                  <p style="padding-top: 10px;">{{who.content_es|safe}}</p>
                {% elif LANGUAGE_CODE == "en" %}
                  <p style="padding-top: 10px;">{{who.content_en|safe}}</p>
                {% endif %}
              </div>
        {% endfor %}
        </div>
      </div>

     

    <!-- team -->
  {% for worker in object_list %}
    <div class="container pt-5 wow fadeInUp">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="Col-12 col-lg-4 team">
          <img src="{{worker.photo.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <div class="Col-12 col-lg-6 ml-0 pl-0 team">
          {% if LANGUAGE_CODE == "es" %}
            <p class="job" style="font-size: 25px;">{{worker.job_es}}</p>
            <h1><b>{{worker.name}} {{worker.lastname}}</b></h1>
            <p>{{worker.info_es|safe}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p class="job" style="font-size: 25px;">{{worker.job_en}}</p>
            <h1><b>{{worker.name}} {{worker.lastname}}</b></h1>
            <p>{{worker.info_en|safe}}</p>
          {% endif %}
        </div>
      </div>     
    </div>
    {% endfor %}

    <div class="container-fluid" id="who_bg">
      <div class="row">
        <div class="col-12" ></div>
      </div>
    </div>

{% endblock %}