{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title%}{% trans "Our Team" %}{% endblock %}

{% block content %}


    <div class="container-fluid" id="who_bg">
      <div class="row" >
        <div class="col-12"></div>
      </div>
    </div>

    <!-- who we are  -->
    <div class="container-fluid pb-5">
        <div class="row">
        {% for who in Who_We_Are %}
            <div class="col-12 pb-5 animated wow slideInUp" id="about-us">
                <h3 style="padding-top: 30px;">{% trans "Our Culture" %}</h3>
                {% if LANGUAGE_CODE == "es" %}
                  <p style="padding-top: 10px;">{{who.content_es|safe}}</p>
                {% elif LANGUAGE_CODE == "en" %}
                  <p style="padding-top: 10px;">{{who.content_en|safe}}</p>
                {% endif %}
              </div>
        {% endfor %}
        </div>
      </div>

     

    <!-- team -->
    <div class="container pt-5">
      <div class="row justify-content-center pb-5 mb-3">
      {% for worker in object_list %}
        {% if forloop.counter == 1  %}
        <div class="col-xs-12 col-lg-4 team wow fadeInUp pb-5" data-wow-delay="1.2s">
          <img src="{{worker.photo.url}}" alt="" style="max-height: 400px;">
          {% if LANGUAGE_CODE == "es" %}
            <p class="job">{{worker.job_es}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p class="job">{{worker.job_en}}</p>
          {% endif %}
          <h1><b>{{worker.name}}<br>{{worker.lastname}}</b></h1>
          {% if LANGUAGE_CODE == "es" %}
            <p>{{worker.info_es|safe}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p>{{worker.info_en|safe}}</p>
          {% endif %}
          <p>{{worker.email}}<br>{{worker.phone_number}}</p>
        </div>
        {% elif forloop.counter == 2 %}
        <div class="col-xs-12 col-lg-4 team wow fadeInUp pb-5" data-wow-delay="1.5s">
          <img src="{{worker.photo.url}}" alt="" style="max-height: 400px;">
          {% if LANGUAGE_CODE == "es" %}
            <p class="job">{{worker.job_es}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p class="job">{{worker.job_en}}</p>
          {% endif %}
          <h1><b>{{worker.name}}<br>{{worker.lastname}}</b></h1>
          {% if LANGUAGE_CODE == "es" %}
            <p>{{worker.info_es|safe}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p>{{worker.info_en|safe}}</p>
          {% endif %}
          <p>{{worker.email}}<br>{{worker.phone_number}}</p>
        </div>
        {% elif forloop.counter == 3 %}
        <div class="col-xs-12 col-lg-4 team wow fadeInUp pb-5" data-wow-delay="1.8s">
          <img src="{{worker.photo.url}}" alt="">
          {% if LANGUAGE_CODE == "es" %}
            <p class="job">{{worker.job_es}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p class="job">{{worker.job_en}}</p>
          {% endif %}
          <h1><b>{{worker.name}}<br>{{worker.lastname}}</b></h1>
          {% if LANGUAGE_CODE == "es" %}
            <p>{{worker.info_es|safe}}</p>
          {% elif LANGUAGE_CODE == "en" %}
            <p>{{worker.info_en|safe}}</p>
          {% endif %}
          <p>{{worker.email}}<br>{{worker.phone_number}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>     
    </div>

    <div class="container-fluid" id="who_bg">
      <div class="row">
        <div class="col-12" ></div>
      </div>
    </div>

{% endblock %}