{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title%}{% trans "Who we are" %}{% endblock %}

{% block content %}


    <div class="container-fluid" id="who_bg">
      <div class="row" >
        <div class="col-12"></div>
      </div>
    </div>

    <!-- who we are  -->
    <div class="container-fluid pb-5">
        <div class="row">
        {% for who in Who_We_Are %}
            <div class="col-12 pb-5 animated wow slideInUp" id="about-us">
                <h3 style="padding-top: 30px; font-size: 25px;">{% trans "Our Culture" %}</h3>
                {% if LANGUAGE_CODE == "es" %}
                  <p style="padding-top: 10px;">{{who.content_es|safe}}</p>
                {% elif LANGUAGE_CODE == "en" %}
                  <p style="padding-top: 10px;">{{who.content_en|safe}}</p>
                {% endif %}
              </div>
        {% endfor %}
        </div>
      </div>

     

    <!-- team -->
    <div class="container pt-5">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-4 team">
          <img src="{% static 'core/images/E1.png' %}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <div class="col-6 team">
          <p class="job" style="font-size: 25px;">Partner</p>
          <h1><b>Glenixa</b></h1>
          <p>Deserunt cillum amet exercitation laboris. Sint sit laboris elit veniam nisi adipisicing excepteur aliqua ipsum officia aute amet do duis. Labore velit pariatur non exercitation est. Dolore ex consequat officia tempor laboris labore. Nisi ipsum quis consectetur excepteur. Magna sint minim excepteur minim nisi duis ipsum aute cillum duis elit.</p>
        </div>
      </div>     
    </div>

    <div class="container-fluid" id="who_bg">
      <div class="row">
        <div class="col-12" ></div>
      </div>
    </div>

{% endblock %}