{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title%}{% trans "Contact" %}{% endblock %}

{% block content %}
    <div class="container pb-3">
            <div class="row">
              <div class="col-12 logo_the_rest">
                {% if LANGUAGE_CODE == "en" %}
                  <img src="{% static 'core/images/Contact.png' %}" class="justify-content-start">
                {% elif LANGUAGE_CODE == "es" %}
                  <img src="{% static 'core/images/ContactES.png' %}" class="justify-content-start">
                {% endif %}
              </div>
            </div>
    </div>

  <div class="container-fluid contactbg">
      <div class="row" >
        <div class="col-12">
        </div>
      </div>
  </div>

  <!-- Main -->
  <div class="container-fluid ">
      <div class="row">
          <div class="col-12 pb-5 animated wow slideInUp" id="about-us">
              <p style="padding-top: 30px; padding-bottom:10px;">{% trans "Smart HR Services’ Team is focused on helping you succeed by taking care of the things that may be distracting you from the bigger picture “Your Business”." %}</p>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-xs-12 col-lg-7 contactf">
          <div class="container">
            <form action="" id="send_email" name="sendemail" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <div class="col-sm-12 col-lg-6 pl-3">
                  {% if LANGUAGE_CODE == "es" %}
                    <label for="">Nombre de la Compañia</label>
                    {{form_email.company_name|attr:"placeholder:*Por Ejemplo:Company C.A"}}
                  {% elif LANGUAGE_CODE == "en" %}
                    <label for="">Company Name</label>
                    {{form_email.company_name|attr:"placeholder:*For Example:Company C.A"}}
                  {% endif %}
                </div>
                {{form_email.name.errors}}
                <div class="col-sm-12 col-lg-6 pl-3">
                  {% if LANGUAGE_CODE == "es" %}
                  <label for="">Nombre del Contacto</label>
                    {{form_email.contact_name|attr:"placeholder:*Por Ejemplo:Jones Smith"}}
                  {% elif LANGUAGE_CODE == "en" %}
                    <label for="">Contact Name</label>
                    {{form_email.contact_name|attr:"placeholder:*For Example:Jones Smith"}}
                  {% endif %}
                </div>
                {{form_email.contact_name.errors}}
              </div>
              <div class="form-group row pt-4">
                <div class="col-sm-12 col-lg-6 pl-3">
                    <label for="">{% trans "Email *" %}</label>
                    {% if LANGUAGE_CODE == "es" %}
                      {{form_email.email|attr:"placeholder:*Por Ejemplo:mailj@ejemplo.com"}}
                    {% elif LANGUAGE_CODE == "en" %}
                      {{form_email.email|attr:"placeholder:*For Example:mailj@example.com"}}
                    {% endif %}
                </div>
                {{form_email.email.errors}}
                <div class="col-sm-12 col-lg-6 pl-3">
                    {% if LANGUAGE_CODE == "es" %}
                      <label for="">Número de Teléfono</label>
                      {{form_email.phone_number|attr:"type:number"|attr:"placeholder:*Por Ejemplo: 123-0000-000"}}
                    {% elif LANGUAGE_CODE == "en" %}
                      <label for="">Phone Number</label>
                      {{form_email.phone_number|attr:"type:number"|attr:"placeholder:*For Example: 123-0000-000"}}
                    {% endif %}
                </div>
                {{form_email.number_employees.errors}}
              </div>
              <div class="form-group row pt-4">
                  <div class="col-sm-12 col-lg-6 pl-3">
                      {% if LANGUAGE_CODE == "es" %}
                        <label for="">Número de Empleados</label>
                        {{form_email.number_employees|attr:"placeholder:Elige una opción"}}
                      {% elif LANGUAGE_CODE == "en" %}
                        <label for="">Number of employees</label>
                        {{form_email.number_employees|attr:"placeholder:Choose an option"}}
                      {% endif %}
                  </div>
                  {{form_email.number_employees.errors}}
              </div>
              <div class="form-group">
                {% if LANGUAGE_CODE == "es" %}
                  <label for="">Mensage</label>
                  <div style="max-width: 100%;">{{form_email.content|attr:"placeholder:Mensaje"}}</div>
                {% elif LANGUAGE_CODE == "en" %}
                  <label for="">Message</label>
                  <div style="max-width: 100%;">{{form_email.content|attr:"placeholder:Message"}}</div>
                {% endif %}
              </div>
              {{form_email.content.errors}}
              <div class="form-group row justify-content-center">
                <div class="offset-sm-2 col-sm-10 pl-5 pt-3 pb-2">
                  <button type="submit" name="button" class="btn btn-primary py-2 buttonSend" value="email">{% trans "Send" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-lg-5 text-center">
            <h5 class="text-center" id="form_message">{% trans "If you got any questions <br>please do not hesitate to send us a message" %}</h5>
            {% if 'ok' in request.GET %}
                  <p style="font-size: 24px; color: green; padding-top: 10px;">{% trans "Your message was sent, We'll in contact with you" %}</p>
            {% endif %}
            {% if 'fail' in request.GET %}
                  <p style="font-size: 24px; color: red; padding-top: 10px;">{% trans "Your message was not send, Please enter your data again" %}</p>
            {% endif %}
            {% if 'ok_q' in request.GET %}
                  <h3 style="font-size: 24px; color: green; padding-top: 10px;">{% trans "Your quote was saved, We'll in contact with you" %}</h3>
            {% endif %}
            {% if 'not_q' in request.GET %}
                  <h3 style="font-size: 24px; color: red; padding-top: 10px;">{% trans "Your quote was not saved, Please enter data again" %}</h3>
            {% endif %}
            {% if 'same_q' in request.GET %}
                  <p style="font-size: 24px; color: red; padding-top: 10px;"><b>{% trans "Your quote was not saved, The turn was not disponible please choose another" %}</b></p>
            {% endif %}
        </div>
      </div>
  </div>

   
    
    <div class="container pt-4">
      <div class="row">
        <div class="col-12">
          <h3 style="font-size: 24px; color: #63B3AA;">{% trans "Book your 30 minutes free phone consulting" %}</h3>
          <button id="Mybtn" type="button" class="btn btn-info" data-toggle="collapse" data-target="#form">{% trans "Here" %}</button>
        </div>
        <div class="col-12">
            <div class="container"  >
              <div class="collapse" id="form">
                  <form action="" id="quoteform" name="quote_form" method="post" data-turns-url="{% url 'ajax-loadturns' %}">
                    {% csrf_token %}
                      <div class="form-group row">
                        <div class="col-sm-1-12 pl-3">
                              {% if LANGUAGE_CODE == "es" %}
                                <label for="">Nombre</label>
                                {{form_quote.name|attr:"placeholder:*Por Ejemplo:Kat"}}
                              {% elif LANGUAGE_CODE == "en" %}
                                <label for="">Name</label>
                                {{form_quote.name|attr:"placeholder:*For Example:Kat"}}
                              {% endif %}
                        </div>
                        {{form_quote.name.errors}}
                        <div class="col-sm-1-12 pl-3">
                              {% if LANGUAGE_CODE == "es" %}
                                <label for="">Apellido</label>
                                {{form_quote.lastname|attr:"placeholder:*Por Ejemplo:Smith"}}
                              {% elif LANGUAGE_CODE == "en" %}
                                <label for="">Lastname</label>
                                {{form_quote.lastname|attr:"placeholder:*For Example:Smith"}}
                              {% endif %}
                        </div>
                        {{form_quote.name.errors}}
                        </div>
                        <div class="form-group row pt-4">
                          <div class="col-sm-1-12 pl-3">
                              <label for="">Email *</label>
                              {% if LANGUAGE_CODE == "es" %}
                                {{form_quote.email|attr:"placeholder:*Por Ejemplo:katj@email.com"}}
                              {% elif LANGUAGE_CODE == "en" %}
                                {{form_quote.email|attr:"placeholder:*For Example:katj@email.com"}}
                              {% endif %}
                          </div>
                          {{form_quote.email.errors}}
                        <div class="col-sm-1-12 pl-3">
                            {% if LANGUAGE_CODE == "es" %}
                              <label for="">Número de Teléfono</label>
                              {{form_quote.phone_number|attr:"type:number"|attr:"placeholder:*Por Ejemplo: 123-0000-000"}}
                            {% elif LANGUAGE_CODE == "en" %}
                              <label for="">Phone Number</label>
                              {{form_quote.phone_number|attr:"type:number"|attr:"placeholder:*For Exmaple: 123-0000-000"}}
                            {% endif %}
                        </div>
                        {{form_quote.phone_number.errors}}
                      </div>
                      <div class="form-group row pt-4">
                        <div class="col-sm-1-12 pl-3">
                            {% if LANGUAGE_CODE == "es" %}
                              <label for="">Fecha</label>
                              {{form_quote.date|attr:"type:date"|attr:"class:form-control quotes"}}
                            {% elif LANGUAGE_CODE == "en" %}
                              <label for="">Date</label>
                              {{form_quote.date|attr:"type:date"|attr:"class:form-control quotes"}}
                            {% endif %}
                      </div>
                        {{form_quote.date.errors}}
                        <div class="col-sm-1-12 pl-3">
                            {% if LANGUAGE_CODE == "es" %}
                              <label for="">Turno</label>
                            {% elif LANGUAGE_CODE == "en" %}
                              <label for="">Turn</label>
                            {% endif %}
                            <select class="form-control quotes" name="turn" id="id_turn">
                            <option value="" disabled selected>{% trans "Select Your Turn" %}</option>
                             </select>
                            </div>
                        </div>
                      <div class="form-group row justify-content-center">
                        <div class="offset-sm-2 col-sm-10 pl-0 pt-3">
                          <button type="submit" name="button" class="btn btn-primary py-2 buttonSend2" value="quote">{% trans "Send" %}</button>
                        </div>
                      </div>
                  </form>
              </div>  
            </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    $("#id_date").change(function () {
      var url = $("#quoteform").attr("data-turns-url");
      var dateId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'date': dateId
        },
        success: function (data) {
          $("#id_turn").html(data);
        }
      });

    });
  </script>
    
{% endblock %}