{% load i18n %}

<option value="" disabled selected>{% trans "Select Your Turn" %}</option>
{% for model_quote in date %}
    {% for turns  in model_quote.turn.all %}
        {% if turns.name == "Not Disponible" %}
            {% if LANGUAGE_CODE == "es" %}
                <option value="{{turns.name}}" disabled selected>No Disponible</option>
            {% elif LANGUAGE_CODE == "en" %}
                <option value="{{turns.name}}" disabled selected>{{ turns.name }}</option>
            {% endif %}
        {% else %}
            <option value="{{turns.name}}">{{ turns.name }}</option>
        {% endif %}
    {% endfor %}
{% endfor %}
