{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block title%}{% trans "Consulting Services" %}{% endblock %}

{% block content %}

<!-- main            -->
      <main>
        <div class="container wow fadeIn slow ">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6 text-justify mt-3 mt-lg-0">
              <p>HR Outsourcing helps small companies that are in need of a Human Resources Professional on a part time basis
                relieving the overwhelmed owner or office manager of the daily tasks surrounding recruitment, HR, benefits or
                payroll.
                Smart HR Consulting works with management or HR professionals in a variety of different ways. We will work
                with you to develop an outsourcing model that makes sense for your business and your role in your company
                taking a bilingual approach when necessary, to meet your employees needs as well.</p>
              </div>
              <div class="col-12 col-lg-6">
                <img src="{% static 'core/images/1.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
        </div>        
      </main>

      <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-lg-5">
              <h3 id="our-service">{% trans "Smart HR Services" %}</h3>
            </div>
        </div>
      </div>

      <div class="container-fluid wow fadeIn slow ">
        
        <div class="row justify-content-center">
          <div class="col-6 col-lg-3 p-4 text-center d-flex align-items-center" id="category_1">
            <h2 style="color: white;" id="h_1">{% trans "Employment function" %}</h2>
          </div>
          <div class="col-6 col-lg-3 p-4 bg-white text-center d-flex align-items-center" id="category_2">
            <h2 style="color: white;" id="h_2">{% trans "Function of personnel administration" %}</h2>
          </div>
          <div class="col-6 col-lg-3 p-4 bg-white text-center d-flex align-items-center" id="category_3">
            <h2 style="color: white;" id="h_3">{% trans "Human resources development function" %}</h2>
          </div>
          <div class="col-6 col-lg-3 p-4 bg-white text-center d-flex align-items-center" id="category_4">
            <h2 style="color: white;" id="h_4">{% trans "Function of industrial relations" %}</h2>
          </div>

          <div id="info_services_1" class="">
            <div class="row p-5 justify-content-around text-center">
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Open Enrollment" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center" >
                  <h4>{% trans "Employee Training & Development" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Recruitment Assistance Services, Background Checks, References, Criminal, Credit & Education" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Applicant Tracking Systems (ATS) – Recommendations, Optimization, Implementation" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Downsizing" %}</h4>
              </div>
            </div>
          </div>
        
          <div class="" id="info_services_2">
            <div class="row p-5 text-center">
                <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center">
                    <h4>{% trans "HR Benefits Administration and Selection" %}</h4>
                </div>
                <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center ">
                    <h4>{% trans "Payroll Services" %}</h4>
                </div>
                <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center">
                    <h4>{% trans "HR General Compliance and Audits" %}</h4>
                </div>
                <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center ">
                    <h4>{% trans "I-9 Audits and Compliance" %}</h4>
                </div>
            </div>
          </div>

          <div class="" id="info_services_3">
            <div class="row p-5 justify-content-around text-center">
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "HRIS (Human Resources Information System) selection and implementation" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center" >
                  <h4>{% trans "Employee Handbook Development" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Psychometric Testing, Competency Modelling" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Compensation and market analysis" %}</h4>
              </div>
              <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">
                  <h4>{% trans "Company Culture Analysis and review" %}</h4>
              </div>
            </div>
          </div>

          <div class="" id="info_services_4">
            <div class="row p-5 text-center">
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                    <h4>{% trans "Employee Relations and conflict resolution" %}</h4>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                    <h4>{% trans "On-call support for employees and manage" %}</h4>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                    <h4>{% trans "Policy and Procedure Development" %}</h4>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- COPIE ESTO -->
      <div class="container">
        <div class="row text-justify justify-content-center OurServices wow fadeIn slow ">
          <div class="col-xs-12 col-lg-6">
            <img src="{% static 'core/images/2.jpg' %}" alt="" class="img-fluid">
            <h3 class="mt-3">Bilingual HR Consulting for Small Businesses</h3>
          </div>
          <div class="col-xs-12 col-lg-6">
            <p>Whether you're in need of a short, mid, or long-term solution, we provide customized and flexible HR solutions
              to suit your Human Resources needs. We work on or off-site, either as a standalone HR services consultant or in
              conjunction with your existing human resources team.
              Current economic trends are now forcing businesses to consider process outsourcing of administrative functions to
              improve basic services and maintain compliance with the ever changing regulations. 
              Outsourcing daily HR functions, recruitment processes, employee benefit administration and payroll allows key
              employees to focus on strategic initiatives that benefit the organization, increase productivity and thereby
              profitability.</p>
          </div>
        </div>
      </div>
      <!-- HASTA AQUI -->

      <div class="container pt-5 pb-5">
        <div class="row text-justify justify-content-around wow slideInUp">
          <!-- NORMAL -->
          <div class="col-xs-12 col-lg-6 pt-2 d-none d-lg-block">
            <p>Smart HR of South Florida gives you a dedicated HR manager who can help you craft a new HR policy, maintain compliance, onboard new employees or process your payroll- You decide what services you need and how often do you require our support.</p>
          </div>
          <div class="col-xs-12 col-lg-6 d-none d-lg-block">
            <img src="{% static 'core/images/3.jpg' %}" alt="" class="img-fluid">
            <h3 class="mt-3">Your Own Dedicated Bilingual HR Manager</h3>
          </div>

          <!-- RESPONSIVE -->
          <div class="col-xs-12 col-lg-6 d-lg-none d-sm-block">
            <img src="{% static 'core/images/3.jpg' %}" alt="" class="img-fluid">
            <h3 class="mt-3">Your Own Dedicated Bilingual HR Manager</h3>
          </div>
          <div class="col-xs-12 col-lg-6 pt-2 d-lg-none d-sm-block">
            <p>Smart HR of South Florida gives you a dedicated HR manager who can help you craft a new HR policy, maintain compliance, onboard new employees or process your payroll- You decide what services you need and how often do you require our support.</p>
          </div>

          <div class="col-12 text-center pt-5 wow bounceInUp"  style="max-width: 750px;">
             <h3 id="our-service">{% trans "HR Policy & Procedures" %}</h3>
             <p>{% trans "We’ll work with you to craft your internal HR policies that fit the way you run your business." %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp" style="max-width: 750px;">
            <h3 id="our-service">{% trans "Payroll Processing Services & Benefits Management" %}</h3>
            <p>{% trans "Your HR department may not be qualified to handle certain payroll and benefits related tasks. We can supply qualified specialists on an as-needed basis" %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp" style="max-width: 750px;">
            <h3 id="our-service">{% trans "Employer Coaching & Guidance" %}</h3>
            <p>{% trans "Full remote or onsite HR support, available to help by phone, email, or in person. Consider us an extension of your team." %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp" style="max-width: 750px;">
            <h3 id="our-service">{% trans "Compliant Onboarding & Terminations" %}</h3>
            <p>{% trans "We will guide and train your management team to successfully onboard, terminate, and take corrective action with your employees to set them up for success" %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp"  style="max-width: 750px;">
            <h3 id="our-service">{% trans "General & Compensation Compliance" %}</h3>
            <p>{% trans "Smart HR makes sure your business stays compliant with nuanced wage and hour regulations." %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp"  style="max-width: 750px;">
            <h3 id="our-service">{% trans "Staffing and Recruiting " %}</h3>
            <p>{% trans "Many organizations lack the resources needed to effectively recruit and hire qualified professionals. " %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp"  style="max-width: 750px;">
            <h3 id="our-service">{% trans "HR Policy & Procedures" %}</h3>
            <p>{% trans "Happy employees directly translate to amazing customer services; let your employees be your best advertisement." %}</p>
          </div>
          <div class="col-12 text-center pt-5 wow bounceInUp"  style="max-width: 750px;">
            <h3 id="our-service">{% trans "General HR Consulting" %}</h3>
            <p>{% trans "Our experienced HR consultants can help you create an employee manual, handle layoffs, or assist with organizational development" %}</p>
          </div>
        </div>
      </div>

{% endblock %}